<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="./tests/bootstrap.php"
        backupGlobals="true"
        colors="true"
        cacheResultFile="phpunit.php-excel.cache.result.json"
>
    <php>
        <ini name="memory_limit" value="10M"/>
    </php>
    <testsuite name="Excel Feature Test Suite">
        <directory>./tests/Feature</directory>
    </testsuite>
</phpunit>